# pip install -r requirements.txt

# base ----------------------------------------
Cython
matplotlib
# numpy
opencv-python
pillow
PyYAML
scipy
tensorboard
# torch>=1.6.0
# torchvision?=0.7.0
tqdm
# coco ----------------------------------------
pycocotools

# export --------------------------------------
# packaging  # for coremltools ==4.0b3
coremltools
onnx
scikit-learn  # for coreml quantization

# extras --------------------------------------
thop  # FLOPS computation
seaborn  # plotting
